body {
  font: 14px "Montserrat", sans-serif;
}

a {
  color: #00B7FF;
}

.form-style {
  width: 18rem; 
  margin-top: 1%;
  background-image: url("https://i.ibb.co/xSkx66J/Hearts-ace-on-cards.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container {
  margin: 5% 26%;
  width: 700px;
}
.large-form-style {
  height: 20rem; 
  width: 50rem;
  margin-top: 7.5%;
  border-radius: 20px;
  background-image: url("https://i.ibb.co/xSkx66J/Hearts-ace-on-cards.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-circle.btn-sm {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 8px;
  text-align: center;
}

.post-card {
  margin-bottom: 5%;
}

.new-post-link {
  text-decoration: none;
  color: #000;
}

.new-post-link:hover {
  color: #d9534f;
}

.no-border {
  border: 0;
}

.delete-button{
  float: right;
}

.new-comment-container{
  border: 0;
  
}


.comment-divider {
  width: 600px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 2px 2px #504f4f;
  border: 0px;
  text-align: left;
}

.text1 {
  font-size: 2rem;
  font-weight: 500;
  margin: 5% 0 2% 0;
}

.text2 {
  font-size: 16px;
  font-weight: 500;
  color: #56575b;
  text-align: left;
}
.post-input {
  width: 90%;
  height: 70%;
  border-radius: 10px;
}

.form-header {
  font-size: 1.5rem;
  font-weight: 600;
}

