body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form-style {
  width: 18rem; 
  margin-top: 1%;
  background-image: url("https://i.ibb.co/xSkx66J/Hearts-ace-on-cards.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container {
  margin: 5% 26%;
  width: 700px
}

.btn-circle.btn-sm {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 8px;
  text-align: center;
}

.align-right {
  border: 0;
}

.newcommentform-container{
  border: 0;
  
}


.second {
  width: 600px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 2px 2px #aaaaaa;
  border: 0px;
  text-align: left;
}

.text1 {
  font-size: 13px;
  font-weight: 500;
  color: #56575b
}

.text2 {
  font-size: 16px;
  font-weight: 500;
  color: #56575b;
  text-align: left;
}